@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,100&family=Bad+Script&family=Cinzel+Decorative&family=Farsan&display=swap');

$Al: 'Alegreya Sans', sans-serif;
$BS: 'Bad Script', cursive; 
$Cz: 'Cinzel Decorative', cursive;
$Fs: 'Farsan', cursive;