

/* screen sizing */
@mixin mq($size){
    @media only screen and (min-width: $size){
        @content;
    }
}


/* div formatting */

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaced{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}


/* Buttons */
@mixin button{
    @include flexCenter;
    text-align: center;
	margin:3px 5px;
	cursor: pointer;
	padding: 12px 15px;
	border-radius: 8px;
	font-size: 0.8rem;
    min-width:160px;
	min-height: 45px;
	z-index: 50; 
	border: 3px ridge LemonChiffon;
}